.button {
  cursor:  pointer;
}

.play-icon {
  opacity:  0;
  transition: opacity 0.3s;
}

.spectrogramVisualizer:hover .play-icon {
  opacity:  1;
}

.axis text {
  fill: #696969;
}

.axis {
  color: #dcdcdc;
}